@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}
a {
    text-decoration: none;
}
p {
    margin: 0.75rem 0;
    font-size: calc(14px +2vw);
}
h4{
    text-decoration-style: wavy;
    font-family: Brush Script MT, cursive;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}
.bg-light {
    background: white;
    color: #333;
}
.bg-dark {
    background: #333;
    color: #f4f4f4;
}
.bg-primary {
    background-color:#3bb16f;
}
.l-heading {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.p-1 {
    padding: 1.5rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}

.py-1 {
    padding: 1.5rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}
.btn {
    display: inline-block;
    color: #fff;
    background: #3bb16f;
    padding: 0.5rem 2rem;
    border: none;
}
.btn:hover {
    color: #3bb16f;
    background-color: #fff;
}
.sub-heading {
    color: gray;
}
.btn-dark {
    font-size: 16px;
    background-color: #9e9e9e;
    max-width: 288px;
    color: #fff;
}
.list {
    margin: 0.5rem 0;
    list-style: none;
}
.list li {
    padding: 0.5rem 0;
    border-bottom: #444 solid 1px;
}
.round {
    border-radius: 10%;
}
#how,
#ourProducts,
#features,
#contact,
#customer_review,
#faq-contents {
    max-width: 1350px;
    margin: auto;
}

#how .container .items {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#how .container .items .item {
    width: 25%;
    padding: 1vh;
    margin: 10px;
    display: block;
    text-align: center;
    height: 335px;
    width: 243px;
}
#how .container .items .item img {
    height: 175px;
    width: 175px;
}
} 
#ourProducts .container .products {
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: 2;
    grid-template-rows: repeat(400px, 200px 400px 200px);
    grid-gap: 10px;
}
#ourProducts .container .products .product .item {
    width: 100%;
    background-color: #eee;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
#ourProducts .container .products .product {
    height: 470px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
#ourProducts .container .products .product-data {
    height: 250px;
    /* margin: 3vh; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

#ourProducts .container .products .product img {
    width: 100%;
    height: 45%;
    padding: 10px;
    /* background-color: #333; */
}
#ourProducts .container .products .product .item .item-img{
    width: 100%;
}

.item-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
    /* background-color: white; */
}

.item-data a,
.btn-style {
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 15px;
    color: #3bb16f;
    border: 3px solid #3bb16f;
    background-color: white;
}
#contact .container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-gap: 1.5rem;
    padding-top: 10px;
    /* align-items: center; */
    padding-bottom: 10px;
}
/* #contact  */
#contact .container form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#contact .container form .form-group {
    padding: 10px;
    width: 600px;
    margin-right: 100px;
    text-align: center;
    align-items: center;
}
#contact .container form .form-group input,
#contact .container form .form-group textarea {
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 10px;
    outline: none;
}
#contact .container form .form-group input[type="submit"] {
    background-color: rgb(124, 121, 121);
    color: white;
    width: 40%;
    border-radius: 15%;
}
#contact .container form .form-group input[type="submit"]:hover {
    background-color: rgba(124, 121, 121, 0.3);
    color: #333;
    width: 40%;
    border-radius: 15%;
}
#features .container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-gap: 1.5rem;
    align-items: center;
    padding-bottom: 30px;
}

#features .container a {
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 15px;
    color: #3bb16f;
    border: 3px solid #3bb16f;
    background-color: white;
    text-align: center;
    justify-content: center;
}

#customer_review .container {
    margin: 10px;
    /*display: grid;*/
    grid-template-columns: 1fr 1.75fr;
    grid-gap: 1.5rem;
    align-items: center;
    padding-bottom: 50px;
}
#faq-contents{
    /* display: flex; */
    display: flex;
    gap: 10px;
    margin: 0 6px;
}
.faq-right p{
    color: #ccc;
}
.review-box{
    /* display: grid; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    /* grid-auto-flow: column; */
    grid-gap: 20px;
    word-wrap: break-word;
}
.reviews{
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #fff;
    background-clip: border-box;
}

.reviews p{
    font-size: 0.80rem;    
}

/*#features .container{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 0.66fr;
    grid-gap: 1.5rem;
    padding-top: 10px ;
    padding-bottom: 10px;
}
*/
/* #footer{
    font-size: large;
}
#footer #main-footer{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-basis: 400px;
}
#footer #main-footer #social-media .logo{
    font-size: 4rem;
    padding: 10px;
    margin-left: 20px;
}
#footer #main-footer #social-media i{
    font-size: 2rem;
    padding: 10px;
}
#footer #main-footer #contents {
    margin-left: 100px;
    flex: 1.75;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
}

#footer #main-footer #contents div ul{
    list-style: none;
    text-align: start;
}
#footer #main-footer #contents div ul li{
    display: block;
    padding: 10px;
}
#footer #copy-right{
    padding-top: 20px;
    margin-top: 10px;
} */
@media (max-width:480px){
    #how,#ourProducts,#features,#contact,#customer_review,#faq-contents {
    max-width: 480px;
    margin: auto;
    }
    #how .container .items .item img {
        max-height: 90px;
        max-width: 90px;
        width:100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    .container {
        max-width: 80%;
    }
    #how .container .items {
        margin-top: 40px;
        max-width: 80%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #how .container .items .item {
        width: 25%;
        display: block;
        text-align: center;
        height: 200px;
        width: 100px;
    }
    .items p{
        font-size: 13px;
        line-height:20px;
    }
    #contact .container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    #contact .container form .form-group {
        padding: 10px;
        width: 250px;
        margin-right: 50px;
        text-align: center;
        align-items: center;
    }
    #contact .list p{
        display:none;
    }
    #faq-contents{
        flex-wrap: wrap;
    }
    #faq-left p{
        display: none;
    }
    .btn-style{
        display: none;
    }
    #features .container {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding-bottom: 30px;
        max-width: 480px;
    }
    #features .container a {
        text-decoration: none;
        color: #3bb16f;
        border: 3px solid #3bb16f;
        background-color: white;
        text-align: center;
    }
    .img-fluids{
        max-width: 100%;
        height: auto;
    }
  
}